<div class="fixed-condition">
    <a href="/"><img class="profile-avatar" src="{{ site.avatar }}" height="120px" width="160" /></a>
    <h1 class="author-name">{{ site.author }}</h1>
    <div class="profile-about">
        {{ site.about }}
    </div>
    <hr />
    <ul class="sidebar-nav">
        <strong>Navigation</strong>
        <li><a href="/">Home</a></li>

        {% for i in site.urls %}
            <li><a class="about" href="{{ i.url }}">{{ i.text }}</a></li>
        {% endfor %}
        <hr/>

        <strong>Category</strong>
        {% for c in site.categories %}
            <li><a class="about" href="/category/{{ c.name }}">{{ c.title }}</a></li>
        {% endfor %}
    </ul>
    <hr/>
    <div class="tags">
        {% for t in site.tags %}
            <a href="/tag/{{ t.name }}" title="{{ t.title }}"><strong><i>{{ t.title }}</i></strong></a>
        {% endfor %}
    </div>
    <hr/>
    <div class="search" id="js-search">
        <input type="text" placeholder="(sitemap)~$ type to search" class="search__input form-control" id="js-search__input">
        <ul class="search__results" id="js-search__results"></ul>
    </div>
</div>
<!-- end /.fixed-condition -->