---
layout: default
---
<header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
</header>

<span class="time">{{ page.date | date_to_string }}</span>
&raquo;
{% if page.category %}
    {% for c in site.category %}
        {% if c.name == page.category %}
            <a href="{{ site.url }}{{ c.url }}">{{ c.title }}</a>
        {% endif %}
    {% endfor %}
{% endif %}
{% capture refererUri %}{{ site.url }}{{ page.slug }}{% endcapture %}
{% include fb_buttons.html %}
<hr/>
<ul>
    {% for post in site.posts %}
        {% if post.slug == page.slug and post.language != page.language %}
            {% if post.language == 'en' %}
                <li>English version of this post is <a href="{{ site.url }}{{ post.url }}"><strong>here</strong></a>.</li>
            {% else %}
                <li>한국어 원문은 <a href="{{ site.url }}{{ post.url }}"><strong>여기</strong></a>.</li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
<div class="content">
    <div class="post">{{ content }}</div>
</div>
<hr/>
{% if page.tags %}
<div>
    Tags :
    <span class="tags">
        {% assign isFirst = true %}
        {% for tag in page.tags %}
            {% for t in site.tag %}
                {% if t.name == tag %}
                    {% unless isFirst %}, {% endunless %}
                        <a href="{{ site.url }}{{ t.url }}" title="{{ t.title }}"> {{ t.title }} </a>
                    {% assign isFirst = false %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </span>
</div>
{% endif %}
<hr/>
{% if site.facebook_app %}
    <div class="fb-comments" data-href="{{ refererUri }}" data-width="700" data-numposts="10"></div>
{% endif %}