---
layout: default
---
<header class="post-header">
    <h1 class="post-title">Articles by Tag: {{ page.title }}</h1>
</header>
<div class="post-content">
    {% for tag in site.tag %}
        {% if page.name == tag.name %}
            <span class="mdl-chip">
                <span class="mdl-chip__text"><strong>{{ tag.title }}</strong></span>
            </span>
        {% else %}
            <a href="{{ site.url}}{{ tag.url }}" class="mdl-chip tag-button">
                <span class="mdl-chip__text">{{ tag.title }}</span>
            </a>
        {% endif %}
    {% endfor %}
    <hr/>
    <ul class="mdl-list">
        {% for post in site.posts %}
            {% if post.tags contains page.name %}
                {% include post_link.html %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% include language_selector.html %}
